.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2d3748; /* gray-800 */
  padding: 1rem;
  z-index: 50;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.875rem; /* 3xl */
  font-weight: bold;
  color: #e2e8f0; /* gray-300 */
  text-decoration: none;
}

.logoText {
  font-family: 'Lora', serif; 
  font-weight: 600; 
  font-size: 2.rem; 
  color: #fbbf24;; 
  text-transform: capitalize; 
  letter-spacing: 1px; 
  text-align: center; 
  margin: 10px 20px; 
  transition: transform 0.3s ease, color 0.3s ease;
}

.logoText:hover {
  color: #ecebe9; 
  transform: translateY(-5px); 
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.navLink {
  margin-right: 1.25rem; /* mr-5 */
  font-size: 1rem;
  color: #fbbf24;; 
  text-decoration: none;
  transition: color 0.3s;
}

.navLink:hover {
  color: #edf2f7; /* gray-300 */
}

.downloadButton {
  display: inline-flex;
  align-items: center;
  background-color: #251906;
  color: #000;
  padding: 0.25rem 0.75rem;
  border: 0;
  border-radius: 0.375rem;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.downloadButton:hover {
  background-color: #2d3748; /* hover:bg-gray-700 */
  color: #fff;
}

.downloadIcon {
  width: 1rem;
  height: 1rem;
  margin-left: 0.25rem;
}
